---
layout: default
title: "Blogs"
permalink: /blog/
# 以下两行可选，已在 _config.yml 设置亦可在此声明
paginate: 5
paginate_path: "/blog/page:num/"
---
<ul class="post-list">
  {% for post in paginator.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <small>({{ post.date | date: "%Y-%m-%d" }})</small>
    </li>
  {% endfor %}
</ul>

<nav class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">上一页</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">下一页</a>
  {% endif %}
</nav>
